.root {
  background-color: green;
  border: solid 5px greenyellow;
  display: flex;
}

.root__picture {
  width: 300px;
}

.root__data {
  flex-grow: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
  background-color: none;
  /* opacity: .5; */
  transform: scale(0);
  transition: transform 0.3s;
}

.modal_content {
  width: 50vw;
  height: 50vh;
  padding: 3rem;
  background-color: #fff;
  border-radius: 20px;
}
.modal_show {
  transform: scale(1);
}
.modal_input {}