.root {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  max-width: 450px;
}

.input {
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

.input:focus {
  outline: none;
  background-color: pink;
  transition: 1s;
}

.petName{
 font-size: 24px;
}
.petUbication{

}