/* .root {
  background-color: green;
  border: solid 5px greenyellow;
  display: flex;

}

.root__picture {
  width: 300px;
}

.root__data {
  flex-grow: 1;
} */

.modal_container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* display: grid; */
  place-items: center;
  background-color: none;
  transition: transform 0.3s;
}

.modal_content {
  /* width: 50vw; */
  /* min-width: 300px; */
  width: 350px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
}

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: .5rem;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #667058;
  color: #fff;
}

.modal_close:hover {
  background-color: #858e79;
  transition: 1s;
}

.modal_close:active {
  background-color: #545b49;
  transition: 1s;
}



.modal_show-no {
  transform: scale(1);
}

.modal_input {}

.modal_content_items,
.modal_content_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  border: solid 1px;
  border-color: #545b49;
  width: 100%;
  margin: 12px auto 22px auto;
}