.menu{
  /* background-color: red; */
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* display: grid; */

  background-color: none;
  transition: transform 0.3s;
}

.header_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  min-width: 144px;
}

.header_item {
  color: black;
  text-decoration: none;
}

/* .header_item:hover {
  text-decoration: underline;
} */

.header_close {
  display: none;
}

.img_container {
  height: 100%;
}

.img {
  height: 100%;
}

@media (max-width: 700px) {
  .burger {
    display: block;
  }

  .header_items {


    position: absolute;
    /* display: flex; */
    flex-direction: column;
    top: 0;
    right: 0;
    align-items: end;
    justify-content: flex-start;
    gap: 1.5rem;
    background-color: #a3ab94;
    padding: 2rem;
    bottom: 0;
    /* box-shadow: 0 0 0 100vmax rgba(113, 127, 116, 0.5); */
  }

  .header_close {
    display: block;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #667058;
    color: #fff;
    cursor: pointer;
  }
}