.root {
  background-color: rgb(196, 198, 164);
  border-radius: 25px;
  box-shadow: #4c6667;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 15px;
}

.root__picture {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0px 0px
}

.root__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* gap: 5px */
}

.root__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
  background-color: none;
  /* opacity: .5; */
  transform: scale(0);
  transition: transform 0.3s;
}

.modal_content {
  width: 50vw;
  height: 50vh;
  padding: 3rem;
  background-color: #fff;
  border-radius: 20px;
}

.modal_show {
  transform: scale(1);
}

.modal_input {}

.button {
  background-color: pink;
  margin: auto auto 20px auto;
  border: none;
  border-radius: 5px;
  padding: 10px;

}

.button:hover {
  /* background-color: rgb(86, 210, 210); */
  background-color: #858e79;
  transition: 1s;
}

.button:active {
  /* background-color: rgb(25, 129, 129); */
  background-color: #545b49;
  transition: 1s;
}

.line {
  border: solid 1px;
  border-color: #545b49;
  width: 200px;
}